@font-face {
  font-family: "Zabars";
  src: url("assets/fonts/Zabars.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

$background-color-primary: #ffc493;
$background-color-secondary: #333333;
$background-color-secondary-transparent: rgba(51, 51, 51, 0.4);

$font-color-primary: #d4d4d4;

$button-background: #333333;
$button-text-color: #ffc493; // Textfarbe des Buttons
$button-hover-background: #ffc493; // Hintergrundfarbe beim Hover
$button-hover-text-color: #333333; // Textfarbe beim Hover

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  border: 0;
}

a {
  text-decoration: none;
  color: $font-color-primary;
  cursor: pointer;
}

body {
  font-family: "Arial", sans-serif;
  line-height: 1.6;
  background-image: url("../img/main_background/cactus.png");
  background-position: center;
  color: $font-color-primary;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}

header {
  background: linear-gradient(0deg, #b05749, #e68956, #b05749);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  -webkit-text-stroke: 1px whitesmoke;
  color: $button-hover-text-color;
  text-align: center;
  width: 100%;
  h1 {
    font-family: "Zabras";
    font-size: 7rem;
  }
}

main {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: start;
  color: $font-color-primary;

  canvas {
    background-color: black;
    border-radius: 1rem;
  }

  .instruction {
    color: $font-color-primary;
    ul {
      list-style-type: none;
    }
  }
}

footer {
  background-color: $background-color-secondary-transparent;

  color: $font-color-primary;
  width: 100%;
  text-align: center;
  padding: 10px;
}

@media (max-width: 768px) {
  body {
  }

  header h1 {
    font-size: 1.5rem;
  }

  main {
    justify-content: flex-start;
  }
}

@media (max-width: 480px) {
  header h1 {
    font-size: 1.2rem;
  }

  main {
  }
}
